<section class="container px-4 blog">
    
  
    <div class= "py-3 about-txt">
        <h1 class="mb-4"> <%= sermon.title %></h1>
        <h5>Theme of the Month: <%=sermon.theme%> </h5>
        <h6 class="text-muted pt-3"> <%=sermon.date%> </h6>
        <h3 class="py-3"> <%=sermon.preacher%> </h3>
        <p> <%= sermon.sermon %> </p>
    </div>

</section>



